.logo{
    height: 100px;
}
.container{
    text-align: justify;
    text-align: center;
    padding-left: 30px;
    border-radius: 20px;
    box-shadow: 30px;
    
}
.button{
    margin-left: 12px;
}
.color-bg{
    background-color: rgb(172, 115, 164);
}
.buy{
    color: chocolate;
    background-color: cyan;
}
.hello{
    padding-right: 99%;
    padding: 20px;
    text-align: justify;
    
}
.hey{
    padding-left: 90%;
    color: crimson;
    cursor: auto;
}
.laptop{
    padding-top: 90px;

}